@charset "UTF-8";


@media print {
    body {
        background-image: url(../imagens/back-print.jpg);

    }
    #phone {display: none;}
    #tablet {display: none;}
    #pc {display: none;}
    #tv {display: none;}
    #print {display: block;}
}

@media screen and (min-width:618px) and (max-width:992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    #phone {display: none;}
    #tablet {display: block;}
    #pc {display: none;}
    #tv {display: none;}
    #print {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1400px){
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    #phone {display: none;}
    #tablet {display: none;}
    #pc {display: block;}
    #tv {display: none;}
    #print {display: none;}
}

@media screen and (min-width: 1400px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    #phone {display: none;}
    #tablet {display: none;}
    #pc {display: none;}
    #tv {display: block;}
    #print {display: none;}
}