@charset "UTF-8";

@media screen and (min-width:550px) {
        header {
        display: flex;
        align-items: self-start;
        justify-content: space-between;
        flex-flow: row wrap;
    }

    h1 {
        padding-right: 50px;
        display: block;
        align-self: center;
    }

    nav {
        align-self: center;
        display: flex;
        flex-flow: row wrap;
    }

    nav > a {
        background-color: rgb(56, 56, 56);
        text-decoration: none;
        color: white;
        padding: 7px;
        border-radius: 4px;
        margin: 5px;
    }

    nav > a:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}
}